<!— 基盤となるhtmlファイルを宣言する —>
{% extends "base.html" %}

<!— base.htmlをオーバーライドするブロック —>
{# python コメント #}
{# {%　%} プログラム命令: 出力のない命令 #}
{# {{}}   値を表示する命令: 出力のある命令 #}

{% block body %}
    <a href="{% url 'create' %}" class="btn btn-default">新規作成</a>

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {% for blog in object_list %} <!-- blogモデルのリスト -->
            <div class="post-preview">
                <a href="{% url 'detail' blog.id %}">
                    <h2 class="post-title">
                    {{blog.content}}
                    </h2>
                </a>
                <p class="post-meta">{{blog.posted_date}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}